build*
.DS_Store
.svn
.hg
*.git
*.swf
*.js
*cpp*
lib/polygonal/build/
tmp
src/Test*
demo/panningAndZooming/upload.sh
tests/build
demo/panningAndZooming/build
demo/basicEngineDemo01/build
demo/canvasDemo/build
demo/panningAndZooming/build
demo/resources/build
demo/svgui/build
demo/screennavigation/css
demo/screennavigation/flash
demo/screennavigation/canvas
demo/screennavigation/all
demo/jquerymobile
\#*#
*AllClasses.hx
src/AllClasses.hx
lib/canvg/examples
lib/canvg/svgs
lib/canvg/test
lib/as3svgrenderlib
lib/jeash
lib/hsl*
lib/hxhsl
lib/EaselJS
lib/as3svgrendererlib
lib/hx.html5
lib/jo
hydrax.zip
