[submodule "lib/transition9"]
	path = lib/transition9
	url = git@github.com:dionjwa/transition9.git

[submodule "lib/polygonal"]
        path = lib/polygonal
        url = git@github.com:dionjwa/polygonal.git

[submodule "lib/html5"]
	path = lib/html5
	url = git@github.com:dionjwa/hx.html5.git
