build*
.DS_Store
.svn
.hg
*.git
*.swf
*.js
*cpp*
lib/polygonal/build/
tmp
*/Test.hx
demo/panningAndZooming/upload.sh
tests/build
demo/panningAndZooming/build
demo/basicEngineDemo01/build
demo/canvasDemo/build
demo/panningAndZooming/build
demo/resources/build
demo/svgui/build
\#*#
*AllClasses.hx
src/AllClasses.hx
lib/canvg/examples
lib/canvg/svgs
lib/canvg/test
lib/as3svgrenderlib
lib/jeash
lib/hsl*
lib/EaselJS
lib/as3svgrendererlib
lib/hx.html5
hydrax.zip
